body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    background: rgb(247, 253, 255);
    margin: 0;
}

header {
    background: rgb(217, 224, 224);
    text-align: left;
    font-size: 1.2em;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin: 1em;
}

section {
    font-size: 1.2em;
    padding: 1em;
    line-height: 1.6;
}

.nameDiv {
    font-size: 1.5em;
    padding: .5em;
    font-family: Lexend Peta;
}