.primary-1 { background-color: #7598A7 }
.primary-2 { background-color: #4B778A }
.primary-0 { background-color: #2B5B6F }
.primary-3 { background-color: #134155 }
.primary-4 { background-color: #042A3A }

.secondary-1-1 { background-color: #FFE8AF }
.secondary-1-2 { background-color: #DBBD72 }
.secondary-1-0 { background-color: #B1903F }
.secondary-1-3 { background-color: #87681A }
.secondary-1-4 { background-color: #5C4202 }

.secondary-2-1 { background-color: #FFBEAF }
.secondary-2-2 { background-color: #DB8672 }
.secondary-2-0 { background-color: #B1543F }
.secondary-2-3 { background-color: #872F1A }
.secondary-2-4 { background-color: #5C1302 }


body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    background-color: #7598A7;
    margin: 0;
}

header {
    background-color: #FFE8AF ;
    text-align: left;
    font-size: 1.2em;
    padding: 0;
    color: #134155;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin: 1em;
}

section {
    font-size: 1.2em;
    padding: 2em 0 0 0;
    line-height: 2;
    text-align: center;
    color: #FFFFFF;
}

.nameDiv {
    font-size: 1.75em;
    margin: 0 0 1em 0;
    font-family: 'Playfair Display', serif;
    color: #FFBEAF;
}

.colorCool {
    color:  #FFFFFF;
}